<div class="text-center">
<h1>{{welcomeMessage}}</h1>
<p></p>


<button mat-button *ngIf="hasIntrospectToken" (click)="tokenInfo()" color="primary">{{introspectToken}}</button>
<button mat-button *ngIf="hasInvokeProtectedApi" (click)="protectedAPI()" color="primary">{{invokeProtectedApi}}</button>
<button mat-button *ngIf="hasInvokeProtectedApiNoAccess" (click)="noAccessAPI()" color="warn">{{invokeProtectedApiNoAccess}}</button>
<button mat-button *ngIf="hasInvokeIstioAPIDirect" (click)="_invokeIstioAPIDirect()" color="primary">{{invokeIstioAPIDirect}}</button>
<button mat-button *ngIf="hasInvokeIstioViaEdge" (click)="_invokeIstioViaEdge()" color="primary">{{invokeIstioViaEdge}}</button>



<!--<button mat-button *ngIf="selectedDemoUsecase.baseConfig.idpLogoutEndpoint.length>2" (click)="idpLogout()" color="primary">{{selectedDemoUsecase.baseConfig.idpLogoutCaption}}</button>
-->
<br>
<div *ngIf="loading">
    <img class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>

       
<div *ngIf="!loading"><br><pre class="text-left">{{response | json}}</pre></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>